# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
.Python
build/
dist/
*.pt

# Environments
.env
.env*.local
.venv
venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js / Vercel
.next/
.vercel/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Archives
*.tar.gz

# Misc
.aider*
